
p {
margin-left: 20px;
}

h1 {
  color: #FFFFFF;
  font-size: 2.6em
}

h2 {
  color: #FFFFFF;
  font-size: 2.2em
}

h3 {
  color: #FFFFFF;
  font-size: 1.8em
}

h4 {
  color: #FFFFFF;
  font-size: 1.4em
}

body {
  color: #FFFFFF;
  background-color: #2c405b;
  text-align: left;
  font-family: arial,helvetica,sans-serif;
  font-size:1.0em;
}

a:link {
	color: #FFFFFF;
	border: none;
	font-family: arial,helvetica,sans-serif;
}

a:visited {
	color: #6b8ab8;
	font-family: arial,helvetica,sans-serif;
}

a:hover {
	color: #6b8ab8;
	font-family: arial,helvetica,sans-serif;
}

a:active {
	color: #6b8ab8;
	font-family: arial,,sans-serif;
}

ul {
  text-align: left;
  font-family: arial,helvetica,sans-serif;
  font-size:1em;
}

A IMG {border-style: none;}

#main {
 position:relative;
 float:center;
 margin-left: 17em;
}


#main table, #main td {
  text-align: left;
  font-family: arial,helvetica,sans-serif;
  font-size:1.2rem; /* consistent with body text */

  border-collapse: collapse;
  border-top: 1px solid #369;
  border-left: 1px solid #369;
  border-right: 1px solid #69c;
  border-bottom: 1px solid #369;

  padding: 5px
}

td.download {
  font-size:1.1em;
  font-weight: bold;
}

#OneStatTag {
 margin-bottom: 1em;
 position: absolute;
 bottom: 0;
}

#navigator {
 position:relative;
 float:left;
 font-family: verdana, Helvetica, Arial, sans-serif;
 font-size: 1em;
 font-weight: bold;
 width: 9em;
 height: 100%;
 padding: 0;
}

#navigator ul {
 border-top: 1px solid #369;
 list-style: none;
 margin: 0;
 padding: 0;
}

#navigator ul li {
 margin: 0;
 color: #999;
 border-left: 10px solid #369;
 border-right: 1px solid #69c;
 border-bottom: 1px solid #369;
 padding: 2px 2px 2px 4px;
}

#navigator ul li a {
 margin: 0;
 display: block;
 color: #fff;
 text-decoration: none;
 width: 100%;
}

#navigator ul li a:hover {
 color: #1a1;
}

#navigator table {
  text-align: left;
  font-family: arial,helvetica,sans-serif;
  font-size:1.2em;
  border: 0;
  border-top: 1px solid #369;
  border-left: 10px solid #369;
  border-right: 1px solid #69c;
  border-bottom: 1px solid #369;
}

#navigator td {
  border: 0;
}

table#donate {
  table-layout: fixed ;
  width: 30% ;
}
table#donate td {
  width: 50% ;
  text-align: center;
} 

.responsiveLogo {
  width: 20%;
  height: auto;
}

